* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}


ul {
    display: flex;
}

li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav_link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: inherit;
}

.nav_links {
    align-items: center;
}

.nav_link--login {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    margin-left: 32px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: inherit;
}

.nav_link--signup {
    color: white;
    background-color: rgb(100 21 255);
    border-radius: 9999px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
    padding: .75rem 2rem;
    margin-left: 24px;
    text-decoration: none;
}
.nav_link:hover {
    text-decoration: underline;
    color: rgb(100 21 255);
    animation:ease;
    transition: 400ms
    
    
}



.nav__logo {
    height: 93px;
    width: 44px;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}



.header__name {
    color: rgb(36,63,99);
    font-weight: 900;
    font-size: 24px;
    margin-left: 8px;
    text-decoration: none;
}

.nav_link--login:hover {
    text-decoration: underline;
    animation: ease;
    transition: 300ms;
    color: rgb(100 21 255);
}

.nav_link--signup:hover {
    animation:ease;
    background-color:rgba(85, 24, 203, 0.993);
    transition: 300ms;
    
}

/* template sectionn */

#template_section {
    padding-top: 96px;
}

.text--color {
    color: rgb(100 21 255);
}

    


.template_section--container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.template_left {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
}

.template_header {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 24px
}

.template_p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}

.template__buttons {
    max-width: 28rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 3px solid rgb(226, 232, 240);
    padding: 1px;
    border-radius: 9999px;
    
}



.template__button2 {
    width: 60%;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-weight: 700;
    background-color: rgb(100 21 255);
    border-radius: 9999px;
    border: none;
    
}

.template__button1 {
    
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    width: 100%;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 16px;
    
}

.template__button2:hover {
    animation:ease;
    background-color:rgba(85, 24, 203, 0.993);
    transition: 300ms;
}

.trusted--companies {
    margin-top: 5rem;
}

.companies__img--p {
 font-size: 0.75rem; 
 font-weight: 700;
 letter-spacing: 0.05em;  
 --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
}

    

.companies_img {
    margin-top: 1rem;
    width: 100%;
    max-width: 80%;
    opacity: 0.5;
}



.template__section--img {
    width: 100%;
    max-width: 60%;
}

/*  service section */ 

.service_container {
    padding: 80px 0;
}

.service_headers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features {
    color: rgb(100 21 255);
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.050rem;
}

.service_header {
    width: 100%;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.025rem;
    color: rgb(36,63,99);
    margin-bottom: 1rem;
}

.service_p {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    color: rgb(124, 139, 161);
    text-align: center;
    width: 36rem;
}

.services {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    align-items: center;
    text-align: left;
    padding: 2rem 0.5rem;
}

.service {
    display: flex;
    width: calc(100%/3);
}

.service_description {
    display: flex;
    flex-direction: column;
    margin: 16px;
    line-height: 2;
}

.service--para {
    margin-top: 0.25rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(124, 139, 161);
}

.service-img--container {
    border: solid;
    border-radius: 9999px;
    height: 50%;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-color: rgb(226, 232, 240);
}

/* quality work section */

.quality--container {
    display: flex;
    margin-bottom: 18rem;
    margin-top: 8rem;
}

.quality--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 48px;

}



.quality--img {
    max-width: 100%;
    width: 50%;
    border: solid rgb(226, 232, 240);
    border-radius: 0.25rem;
}
.qw {
    color: rgb(100 21 255);
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 18px;
    text-align: left;
}

.qw2--container {
    text-align: left;
}

.qw2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(36,63,99);
    max-width: 60%;
    width: 100%;
}

.qw--para {
    font-size: 1.125rem;
    text-align: left;
    font-weight: 500;
    line-height: 1.65;
    color: rgb(124, 139, 161);
    margin-bottom: 24px;
}

.qw--button {
    width: 25%;
    padding: 14px 24px;
    color: white;
    background-color: rgb(100 21 255);
    border-radius: 9999px;
    border: none;
    font-weight: 700;
}

.qw--button:hover {
    animation:ease;
    background-color:rgba(85, 24, 203, 0.993);
    transition: 300ms;
}

/* steps section */ 

.steps--section {
    margin-top: 80px;
}

.steps-section--container {
    display: flex;
    align-items: center;
}

.steps--img {
    width: 100%;
    max-width: 50%;
    height: 100%;
}

.steps--body {
    max-width: 50%;
    width: 100%;
    margin-left: 56px;
}

.steps--h5 {
    color: rgb(100 21 255);
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-align: left;
    margin-bottom: 1rem;
}

.steps--h2 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgb(36,63,99);
    max-width: 100%;
    width: 100%;
}

.steps--list {
    display: flex;
    flex-direction: row;
    margin-top: 18px;
    margin-bottom: 18px;
}

.steps--lists {
    flex-direction: column;
    list-style: none;
}

.steps--numberli {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(203, 213, 224);
    margin-right: 24px;
}



.steps--h6 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    color: rgb(36,63,99);
}

.steps--para {
    margin-top: 0.75rem;
    max-width: 20rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2;
    color: rgb(113, 128, 150);
}



/* VALUES SECTION */ 

.values--section {
    margin-top: 25rem;
    margin-bottom: 25rem;
}

.values--section--container {
    display: flex;
    margin-top: 15rem;
}

.values--body {
    width: 100%;
    max-width: 50%;
    margin-right: 36px;
    
}

.values--img {
    width: 100%;
    max-width: 50%;
    height: 100%;
}

.values--img--container {
}

.affordable--icon {
    background-color: rgba(95, 203, 153, 0.767);
    border-radius: 9999px;
}

.affordable--body--container {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.affordable--body {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 12px;
    font-size: 1.125rem;
    font-weight: 700;
    color: rgb(36,63,99);
    padding-right: 12p;
    margin-bottom: 16px;
}

.affordable--body2 {
    width: 100%;
    max-width: 100%;
    margin-right: 16px;
}

.affordable {
    margin-left: 10px;
}

.affordable--body--para {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    text-align: left;
    color: rgb(113, 128, 150);
    margin-right: 16px;
    margin-top: 1rem;
}

.pro--body {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 12px;
    font-size: 1.125rem;
    font-weight: 700;
    color: rgb(36,63,99);
    padding-right: 12p;
    margin-bottom: 16px;
}

.pro--icon {
    background-color: rgba(232, 68, 68, 0.58);
    border-radius: 9999px;
}

.I-W {
    display: flex;
}

.v--button {
    padding: 14px 32px;
    border-radius: 9999px;
    margin-top: 2rem;
    color: white;
    font-weight: 700;
    background-color: rgb(100 21 255);
    border: none;
}

/* PLANS SECTION */ 


.plans--section--container {
    margin-top: 16rem;
}

.plans--body--container {
    margin-bottom: 4rem;
}

.plans--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.plans--h2 {
    text-align: center;
    font-weight: 900;
    font-size: 48px;
    color: rgb(36,63,99);
    margin-bottom: 16px;
    margin-top: 14px;
}

.plans--p {
    text-align: center;
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500;
    width: 50%;
    margin-top: 14px;
}

.plans {
    width: 100%;
    margin-right: 2rem;
}


.three--plan--container {
    width: calc(100% / 3);
    display: flex;
    width: 100%;
}

.plan {
    
    display: flex;
    flex-direction: column;
    
}

.plans--highlighter {
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plans--pack {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 32px;
    border: solid 2px rgb(226, 232, 240);
    width: 100%;
}

.plan--name {
    color: rgb(26, 32, 44);
    font-size: 20px;
    font-weight: 700;
    line-height: 32.5px;
}

.plan--price {
    font-size: 48px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.plan--time {
color: rgb(160 174 192);
font-weight: 700;
letter-spacing: 1.6px;
}

.plan--benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: solid 2px rgb(226, 232, 240);
}

.plan--benefitter {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.025em;
}

.plan--benefit {
    font-weight: 500;
    margin-top: 1.25rem;
    color: rgb(113, 128, 150);
}

.button--container {
    border: solid 2px rgb(226, 232, 240);
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buynow--button {
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border: none;
    width: 100%;
}

.plans--pack--business {
    
}
